* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
#main {
  height: 100%;
  width: 100%;
}

#nav {
  width: 100%;
  position: fixed;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 20px;
}

#nav h3 {
  border: 2px solid black;
  border-radius: 50px;
  padding: 2px 10px;
  margin-left: 10px;
  background-color: black;
  color: white;
}

#intro {
  padding: 30px;
  width: 100%;
  height: 45%;
  /* background-color: #dadada; */
}
#intro h1 {
  font-size: 90px;
  letter-spacing: -3px;
  line-height: 90px;
}

#place {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#place h3,
#place h4 {
  font-weight: 500;
  font-size: 15px;
}

#hero-img {
  width: 100%;
  height: 80%;
  background-position: top;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1490551632573-78c6c247f5d3?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#about {
  width: 100%;
  height: 45%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#about h2 {
  width: 65%;
  height: 100%;
  font-size: 50px;
  line-height: 55px;
  border-right: 2px solid black;
}

#about-part2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 100%;
}

#about-part2 h3 {
  font-size: 25px;
}

#about-part2 i {
  width: 30%;
  color: white;
  padding: 5px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  font-size: 20px;
  margin-left: 10px;
}

#work {
  padding: 40px;
  display: flex;
  width: 100%;
  height: 55%;
  border-top: 2px solid black;
}

#work1 {
  width: 30%;
  height: 100%;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  border-right: 2px solid black;
}

#work1 h3 {
  font-size: 20px;
}
#work1 i {
  font-size: 20px;
}
#work2 {
  width: 70%;
  height: 100%;
  padding: 0 40px;
}

.work2-part {
  padding: 46px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work2-part:nth-child(1) {
  padding-top: 0;
  border-bottom: 2px solid black;
}

.work2-part .elem {
  width: 50%;
  height: 100%;
}

.work2-part .elem:nth-child(1) {
  border-right: 2px solid black;
}
.work2-part .elem:nth-child(2) {
  padding-left: 40px;
}

.work2-part .elem h4 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 5px;
}
.work2-part .elem p {
  font-size: 15px;
  color: rgb(47, 52, 52);
}
